.listOfLogOfMessages {
    display: flex;
    flex-wrap: wrap;
}

.mediaContain {
    margin-top: 20px;
    border: 1px solid black;
    width: 95%;
    margin-right: 10px;
}

.formContain {
    text-align: center;
    margin: 0 auto;
    width: 35%;
}

.slidersImg {
    height: 400px;
    width: 100%;
}

.sliderContainer {
    /* border: 2px solid greenyellow; */
    width: 425px;
    
}

.carouselContainer {
    height: 400px;
    width: 425px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,119,223,1);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,119,223,1);
    box-shadow: 0px 0px 10px 5px rgba(0,119,223,1);
}

.containSlide {
    margin: 0 auto;
}

.slidersText {
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.8;
    margin-top: 100px;
}