.homeApp {
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0077df, #000c75);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0077df, #000c75); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.contain {
  margin-left: 6%;
}

.decoyRow {
  height: 90px;
}

.collDesign {
  /* border: 1px solid red; */
  text-align: center;
}

.backImage {
  background-image: url('../VideoGames.png');
  background-size: cover;
  /* background-position: center; */
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}