.test {
  width: 95.1%;
}

.shadows{
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.75);
  border: 1px solid black;
}

.loginBoxes {
  margin-right: 7px;
}