#menu {
  /* background-color: lightskyblue; */
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  /* border-radius: 1em; */
}

#menu-links {
  display: flex;
  padding-left: 1em;
}

#menu-links a {
  padding-right: 0.5em;
  color: whitesmoke;
  /* text-decoration: underline; */
  cursor: pointer;
}

h1 {
  color: black;
}

