.listOfLogOfUsers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 30px;
}

.differentUsers {
  display: flex;
}

.inputSize {
  height: 40px;
  background-color: dodgerblue;
  font-size: 17px;
}

.tableSize, td {
  width: 50%;
  margin: 0 auto;
}